@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap');

html {
  scroll-behavior: smooth;
}
.alata{
  font-family: 'Alata'
}

.bebas{
  font-family: 'Bebas Neue', cursive;
}

.lato{
  font-family: 'Lato', sans-serif;
}

.josefin{
  font-family: 'Josefin Sans', sans-serif;
}